<phpunit bootstrap="./tests/TestInit.php" colors="true" verbose="true" debug="true">
    <testsuite name="Mail_Queue Test Suite">
        <file>./tests/Mail/QueueTest.php</file>
        <file>./tests/Mail/Queue/ContainerTest.php</file>
        <file>./tests/Mail/Queue/DoctrineContainerTest.php</file>
    </testsuite>
</phpunit>
